
/**
 * App-wide Styles
 */
html, body {
  height: 100%;
}

body {
  position: relative;
  background: $color-gray-dark;
  color: $color_white;
  overflow: hidden;
}

.content {
  margin-left: $sidebar-width;
  height: 100%;
  background: $body-bg;
  color: $text-color;

  .content-module {
    height: 100%;
  }

  .content-header {
    @include line-bottom;
    padding-left: $padding-base-horizontal;
    height: $header-height;
  }
  .content-body {
    @extend .clearfix;
    padding-bottom: $padding-large-vertical * 3;
    height: 100%;
    height: -webkit-calc(100% - 44px);
    height: calc(100% - 44px);
    overflow-x: hidden;
    overflow-y: scroll;

    .content-subheader {
      padding: 0 $padding-base-horizontal;
      height: $content-subheader-height;
      box-shadow: inset 0 -1px 0 $gray-lighter;
    }

    .icon {
      display: inline-block;
      vertical-align: top;
      font-size: 140%;
      margin-top: -4px;
      margin-right: 2px;
    }
  }
  .content-footer {
    position: absolute;
    bottom: 0;
  }

  .content-row {
    padding-left: $padding-base-horizontal;
    padding-right: $padding-base-horizontal;
  }

  .btn-area {
    @include line-top;
    @extend .clearfix;
    margin-top: $padding-large-vertical;
    padding: $padding-large-vertical 0;

    button {
      @extend .btn, .btn-sm;
    }
    .btn-submit {
      @extend .btn-primary;
    }
  }
}
