@mixin deboss-box($border: .1, $shadow: .05, $highlight: .8) {
  border: 1px solid rgba(0,0,0,$border);
  box-shadow: rgba(0,0,0,$shadow) -1px 1px 2px inset, rgba(255,255,255,$highlight) -1px 1px 0;
}

@mixin emboss-box($border: .3, $shadow: .3, $shadow_top: .06) {
  border-bottom: 1px solid rgba(0, 0, 0, $border);
  box-shadow: rgba(0, 0, 0, $shadow) 0 1px 3px, rgba(0, 0, 0, $shadow_top) 0 -1px 1px;
}

@mixin semi-border-box($shadow: 0.15) {
  box-shadow: rgba(0, 0, 0, $shadow) 0 0 2px;
}

@mixin rich-box($shadow: .2) {
  box-shadow: rgba(0, 0, 0, $shadow) 0 0 0 20px inset;
}

@mixin line-top($op1: .3){
	border-top: 1px solid $gray-light;
	box-shadow: rgba(255, 255, 255, $op1) 0 1px 0 inset;
}

@mixin line-bottom($op1: .3){
	border-bottom: 1px solid $gray-light;
	box-shadow: rgba(255, 255, 255, $op1)0 1px 0;
}

@mixin line-left($op1: .3){
	border-left: 1px solid $gray-light;
	box-shadow: rgba(255, 255, 255, $op1) -1px 0 0;
}

@mixin line-right($op1: .3){
	border-right: 1px solid $gray-light;
	box-shadow: rgba(255, 255, 255, $op1) -1px 0 0 inset;
}

@mixin ts-000($op : .4){
	text-shadow: 1px -1px rgba(0, 0, 0, $op);
}

@mixin ts-fff($op : .7){
	text-shadow: -1px 1px rgba(0, 0, 0, $op);
}
